* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background: #f2f4f6;
  overflow: hidden;
}
ul {
  list-style: none;
}
.context-menu { 
  position: absolute;
  top: 800px;
  display: block;
  z-index: 50;
} 
#photo {
 border: 1px solid green;
 top: 0px;
 bottom: 800px
 padding: 2px;
}
.menu {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
  padding: 10px 0;
}
.menu > li > a {
  font: inherit;
  border: 0;
  padding: 10px 30px 10px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: unset;
  color: #000;
  font-weight: 500;
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -ms-transition: 0.5s linear;
  -o-transition: 0.5s linear;
}
.menu > li > a:hover {
  background:#f1f3f7;
  color: #4b00ff;
}
.menu > li > a > i {
  padding-right: 10px;
}
.menu > li.trash > a:hover {
  color: red;
}

.btn-group {
	width: 443px;
	height: 473px;
	float: left;
	top: 200px;
}

.BlackUnderlay {
  background-image:url('BlackUnderlay.png')
  cursor: pointer;
  color: #000000;
  position: absolute;
  left: 2px;
  top: 200px;
  width: 430px;
  height: 420px;
  z-index: 13;
}

.Row_1 {
  position: relative;
  left: 4px;
  top: 300px;
  width: 420px;
  height: 84px;
  z-index: 48;
}
.Green_Square_ROne {
    background-color: #92d050;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #77b55a;
    position: relative;
    width: 80px;
    height: 80px;
    z-index: 47;
    margin: 4px;
    padding: 7px 35px;
}
.Purple_Square_ROne {
    background-color: #be8eed;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #c997fb;
    position: relative;
    width: 80px;
    height: 80px;
    z-index: 46;
    margin: 4px;
    padding: 7px 35px;
}
.Blue_Square_ROne {
    background-color: #b4cbe2;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #bed7ef;
    position: relative;
    width: 80px;
    height: 80px;
    z-index: 45;
    margin: 4px;
    padding: 7px 35px;
}
.Red_Square_ROne {
    background-color: #ec4a4a;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #ff5050;
    position: relative;
    width: 80px;
    height: 80px;
    z-index: 44;
    margin: 4px;
    padding: 7px 35px;
}
.Green_Square_ROne_Two {
    background-color: #92d050;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #77b55a;
    position: relative;
    width: 80px;
    height: 80px;
    z-index: 43;
    margin: 4px;
    padding: 7px 35px;
}

.Row_2 {
  position: absolute;
  left: 4px;
  top: 388px;
  width: 420px;
  height: 84px;
  z-index: 41;
}
.Blue_Square_RTwo {
    background-color: #b4cbe2;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #bed7ef;
    position: absolute;
    left: 4px;

    width: 80px;
    height: 80px;
    z-index: 40;
    margin: 4px;
    padding: 7px 35px;
}
.Red_Square_RTwo {
    background-color: #ec4a4a;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #ff5050;
    position: absolute;
    left: 92px;

    width: 80px;
    height: 80px;
    z-index: 39;
    margin: 4px;
    padding: 7px 35px;
}
.Green_Square_RTwo {
    background-color: #92d050;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #77b55a;
    position: absolute;
    left: 179px;

    width: 80px;
    height: 80px;
    z-index: 38;
    margin: 4px;
    padding: 7px 35px;
}
.Purple_Square_RTwo {
    background-color: #be8eed;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #c997fb;
    position: absolute;
    left: 267px;

    width: 80px;
    height: 80px;
    z-index: 37;
    margin: 4px;
    padding: 7px 35px;
}
.Blue_Square_RTwo_Two {
    background-color: #b4cbe2;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #bed7ef;
    position: absolute;
    left: 348px;

    width: 80px;
    height: 80px;
    z-index: 36;
    margin: 4px;
    padding: 7px 35px;
}

.Row_3 {
  position: absolute;
  left: 5px;
  top: 472px;
  width: 420px;
  height: 84px;
  z-index: 34;
}
.Purple_Square_RThree {
    background-color: #be8eed;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #c997fb;
    position: absolute;
    left: 4px;

    width: 80px;
    height: 80px;
    z-index: 33;
    margin: 4px;
    padding: 7px 35px;
}
.Green_Square_RThree {
    background-color: #92d050;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #77b55a;
    position: absolute;
    left: 92px;

    width: 80px;
    height: 80px;
    z-index: 32;
    margin: 4px;
    padding: 7px 35px;
}
.Free_Square {
  background-image: url("Free_Square.png");
  position: absolute;
  left: 179px;

  width: 80px;
  height: 80px;
  z-index: 31;
  margin: 4px;
  padding: 7px 35px;
}
.Blue_Square_RThree {
	background-color: #b4cbe2;
  border: 3px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #bed7ef;
  position: absolute;
  left: 267px;

  width: 80px;
  height: 80px;
  z-index: 30;
  margin: 4px;
  padding: 7px 35px;
}
.Red_Square_RThree {
  background-color: #ec4a4a;
  border: 3px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #ff5050;
  position: absolute;
  left: 348px;

  width: 80px;
  height: 80px;
  z-index: 29;
  margin: 4px;
  padding: 7px 35px;
}

.Row_4 {
  position: absolute;
  left: 4px;
  top: 562px;
  width: 420px;
  height: 84px;
  z-index: 27;
}
.Red_Square_RFour {
    background-color: #ec4a4a;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #ff5050;
    position: absolute;
    left: 4px;

    width: 80px;
    height: 80px;
    z-index: 26;
    margin: 4px;
    padding: 7px 35px;
}
.Purple_Square_RFour {
    background-color: #be8eed;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #c997fb;
    position: absolute;
    left: 96px;

    width: 80px;
    height: 80px;
    z-index: 25;
    margin: 4px;
    padding: 7px 35px;
}
.Red_Square_RFour_Two {
    background-color: #ec4a4a;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #ff5050;
    position: absolute;
    left: 179px;

    width: 80px;
    height: 80px;
    z-index: 24;
    margin: 4px;
    padding: 7px 35px;
}
.Green_Square_RFour {
    background-color: #92d050;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #77b55a;
    position: absolute;
    left: 267px;

    width: 80px;
    height: 80px;
    z-index: 23;
    margin: 4px;
    padding: 7px 35px;
}
.Blue_Square_RFour {
    background-color: #b4cbe2;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #bed7ef;
    position: absolute;
    left: 348px;

    width: 80px;
    height: 80px;
    z-index: 22;
    margin: 4px;
    padding: 7px 35px;
}

.Row_5 {
  position: absolute;
  left: 4px;
  top: 650px;
  width: 420px;
  height: 84px;
  z-index: 20;
}
.Purple_Square_RFive {
    background-color: #be8eed;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #c997fb;
    position: absolute;
    left: 4px;
    top: 650px;
    width: 80px;
    height: 80px;
    z-index: 19;
    margin: 4px;
    padding: 7px 35px;
}
.Green_Square_RFive {
    background-color: #92d050;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #77b55a;
    position: absolute;
    left: 92px;
    top: 650px;    width: 80px;
    height: 80px;
    z-index: 18;
    margin: 4px;
    padding: 7px 35px;
}
.Purple_Square_RFive_Two {
    background-color: #be8eed;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #c997fb;
    position: absolute;
    left: 179px;
    
    width: 80px;
    height: 80px;
    z-index: 17;
    margin: 4px;
    padding: 7px 35px;
}
.Blue_Square_RFive {
  background-image: url(Images/Blue_Square.png);
    background-color: #b4cbe2;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #bed7ef;
    position: absolute;
    left: 267px;
    
    width: 80px;
    height: 80px;
    z-index: 16;
    margin: 4px;
    padding: 7px 35px;
}
.Red_Square_RFive {
    background-color: #ec4a4a;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #ff5050;
    position: absolute;
    left: 348px;
    
    width: 80px;
    height: 80px;
    z-index: 15;
    margin: 4px;
    padding: 7px 35px;
}

.Get_1_square_credit_per_program {
  font-size: 14px;
  font-family: "Arial";
  color: rgb(58, 58, 58);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 42px;
  top: 70.589px;
  z-index: 12;
}
.__Crafts {
  font-size: 10px;
  font-family: "Arial";
  color: rgb(58, 58, 58);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 234px;
  top: 144px;
  z-index: 11;
}
.__Digital_Literacy {
  font-size: 10px;
  font-family: "Arial";
  color: rgb(58, 58, 58);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 233px;
  top: 118.421px;
  z-index: 10;
}
.__Adulting_Life_Skills {
  font-size: 10px;
  font-family: "Arial";
  color: rgb(58, 58, 58);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 66px;
  top: 143.421px;
  z-index: 9;
}
.__Information_Literacy {
  font-size: 11px;
  font-family: "Berlin Sans FB Demi";
  color: rgb(58, 58, 58);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 66.062px;
  top: 115.633px;
  z-index: 8;
}
.Attend_library_programs_and_workshops {
  font-size: 14px;
  font-family: "Arial";
  color: rgb(58, 58, 58);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 42px;
  top: 46.589px;
  z-index: 7;
}
.Library_Program_Bingo {
  font-size: 30px;
  font-family: "Berlin Sans FB Demi";
  color: rgb(58, 58, 58);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 17px;
  top: 9.82px;
  z-index: 6;
}
.AdultSkills {
  background-image: url("Red_Square.png");
  position: absolute;
  left: 17px;
  top: 141px;
  width: 42px;
  height: 16px;
  z-index: 5;
}
.DigitLiteracy {
  background-image: url("Green_Square.png");
  position: absolute;
  left: 188px;
  top: 115px;
  width: 42px;
  height: 16px;
  z-index: 4;
}
.CraftSkills {
  background-image: url("Blue_Square.png");
  position: absolute;
  left: 189px;
  top: 142px;
  width: 42px;
  height: 16px;
  z-index: 3;
}
.InfLiteracy {
  background-image: url("Purple_Square.png");
  position: absolute;
  left: 17px;
  top: 115px;
  width: 42px;
  height: 16px;
  z-index: 2;
}
.White {
  background-image: url("White.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 356px;
  height: 587px;
  z-index: 1;
}

details {
  position: absolute;
  top: 610px;
  font: 16px "Open Sans", Calibri, sans-serif;
}

details > summary {
  padding: 2px 6px;
  background-color: #ddd;
  border: none;
  box-shadow: 1px 1px 2px black;
  cursor: pointer;
}

details > p {
  position: absolute;
  top: 250;
  border-radius: 0 0 2px 2px;
  top: 610px;
  background-color: white;
  padding: 2px 6px;
  margin: 0;
  box-shadow: 1px 1px 2px black;
}

details[open] > summary {
  padding: 2px 6px;
  background-color: #ccf;
  border: none;
  box-shadow: 1px 1px 2px black;
}

.screenshot {
  border-radius: 0 0 1px 1px;
  top: 400px;
  background-color: white;
  padding: 2px 6px;
  margin: 0;
  box-shadow: 1px 1px 1px black;
}

.printbutton {
  border-radius: 0 0 1px 1px;
  top: 400px;
  background-color: white;
  padding: 2px 6px;
  margin: 0;
  box-shadow: 1px 1px 1px black;
}



